In [5]:
# Initial imports
from alpaca_trade_api.rest import REST, TimeFrame
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import numpy as np
import requests
import getpass
import os

## Rest API
Note the difference in API call instantiation is the param raw_data. The difference is if we return an api response raw or wrap it with the Entity objects.
* api_account - raw_data is set to True to return the actual dictionary for the account data
* api_trade   - raw_data is set to False to return the entity object

['is not none' from Stack Overflow](https://stackoverflow.com/a/40698307/17331884)

In [6]:
# API Info for fetching data, portfolio, etc. from Alpaca
BASE_URL = "https://paper-api.alpaca.markets"

if os.getenv("APCA_API_KEY_ID") is not None:
    ALPACA_API_KEY = os.getenv("APCA_API_KEY_ID")
else:

    ALPACA_API_KEY = getpass.getpass('Type your alpaca api key here, it is safe from viewing.')

if os.getenv("ALPACA_SECRET_KEY") is not None:
    ALPACA_SECRET_KEY = os.getenv("ALPACA_SECRET_KEY")
else:

    ALPACA_SECRET_KEY = getpass.getpass('Type your secret alpaca api key here, it is safe from viewing.')

# Instantiate REST API Connection - Account
api_account = tradeapi.REST(key_id=ALPACA_API_KEY, secret_key=ALPACA_SECRET_KEY, raw_data=True,base_url=BASE_URL, api_version='v2')

# Instantiate REST API Connection - Trade
api_trade = tradeapi.REST(key_id=ALPACA_API_KEY, secret_key=ALPACA_SECRET_KEY, raw_data=False, base_url=BASE_URL, api_version='v2')

In [7]:
# Uncomment line of field to prove key is stored
print(ALPACA_API_KEY)

PK0T5B2ZWEMHDM9DSCK8

## Get Alpaca (Test) Account Data

In [4]:
# Fetch Account
account = api_account.get_account()

In [5]:
# What type of data is this
type(account)

dict

In [6]:
# View the dictionary
print(account)

{'id': '3c72b7f3-3a33-415a-ac05-5a8ffa927ca0', 'account_number': 'PA3RITF06YPV', 'status': 'ACTIVE', 'crypto_status': 'ACTIVE', 'currency': 'USD', 'buying_power': '200000', 'regt_buying_power': '200000', 'daytrading_buying_power': '0', 'non_marginable_buying_power': '0', 'cash': '100000', 'accrued_fees': '0', 'pending_transfer_in': '0', 'portfolio_value': '100000', 'pattern_day_trader': False, 'trading_blocked': False, 'transfers_blocked': False, 'account_blocked': False, 'created_at': '2021-12-18T00:52:09.14976Z', 'trade_suspended_by_user': False, 'multiplier': '2', 'shorting_enabled': True, 'equity': '100000', 'last_equity': '100000', 'long_market_value': '0', 'short_market_value': '0', 'initial_margin': '0', 'maintenance_margin': '0', 'last_maintenance_margin': '0', 'sma': '100000', 'daytrade_count': 0}

In [7]:
# Send the dictionary to a dataframe
acct_summary_df = pd.DataFrame.from_dict(account,orient='index')

# View the dataframe
acct_summary_df.rename(columns={0: "Details"})

                                                          Details
id                           3c72b7f3-3a33-415a-ac05-5a8ffa927ca0
account_number                                       PA3RITF06YPV
status                                                     ACTIVE
crypto_status                                              ACTIVE
currency                                                      USD
buying_power                                               200000
regt_buying_power                                          200000
daytrading_buying_power                                         0
non_marginable_buying_power                                     0
cash                                                       100000
accrued_fees                                                    0
pending_transfer_in                                             0
portfolio_value                                            100000
pattern_day_trader                                          False
trading_blocked                                             False
transfers_blocked                                           False
account_blocked                                             False
created_at                             2021-12-18T00:52:09.14976Z
trade_suspended_by_user                                     False
multiplier                                                      2
shorting_enabled                                             True
equity                                                     100000
last_equity                                                100000
long_market_value                                               0
short_market_value                                              0
initial_margin                                                  0
maintenance_margin                                              0
last_maintenance_margin                                         0
sma                                                        100000
daytrade_count                                                  0

### Get Alpaca (Test) Account Data
[US brokers, like Alpaca, extend credit to their users who have ‘margin accounts’. The maximum amount of credit, or margin, a broker can extend is regulated by the SEC. The SEC regulation is called ‘Regulation T’ so the amount of margin a broker can extend is often referred to as ‘Reg T’ margin. Typically a broker can lend an account holder 1 for every 1 they have in equity. The equity is simply the value of an account if it is liquidated (i.e. the sum of the cash plus the value of all the long positions minus the value of any short positions minus the value of any outstanding margin loans) So, if an account holder has 2000 in cash in their account, a broker will let them buy 4000 worth of stocks. All Alpaca accounts with equity over 2000 are extended this amount of margin or credit.](https://forum.alpaca.markets/t/why-is-my-buying-power-a-negative-number/4334/6)

[The ‘Reg T buying power’ of an account is the maximum buying power (ie 2x the equity) minus the value of the stocks one already holds (i.e. that buying power has already been used) minus any outstanding orders. So, in this case the equity in the account is 2283.83. The gross ‘Reg T buying power’ is 2x that amount or 4567.66. However, the account has already ‘used’ 1413.82 of this (which is the long market value plus the abs value of the short market value). The buying power is therefore 4567.66 - 1413.82 = 3,153.84.](https://forum.alpaca.markets/t/why-is-my-buying-power-a-negative-number/4334/6)


[Outstanding orders also immediately reduce buying power. Orders which increase a position (ie a buy long or a sell short) are counted against, and reduce, buying power. Orders which decrease a position (ie a sell long or a buy short) however do not ‘add back’ or increase buying power. This accounts for the possible scenario where the ‘increase’ orders fill but the ‘decrease’ orders don’t. The buying power calculation assumes this worst case.](https://forum.alpaca.markets/t/why-is-my-buying-power-a-negative-number/4334/6)


[Now, think of ‘buying power’ as your credit card company listing your ‘credit limit’. You can spend this amount and the credit card company will happily lend you the money. However, they will also charge you interest on that borrowed money. This is the same with a broker (and Alpaca). The current interest charged is .01% per day or 3.75% annually (more info on this is in the docs 2). However, just because a broker will extend you this much credit, it is your choice if you want to use that credit. Don’t feel you need to spend all your buying power. Weigh how much you are spending on margin interest, and the associated increase in volatility, with your trading and investment goals.](https://forum.alpaca.markets/t/why-is-my-buying-power-a-negative-number/4334/6)

In [8]:
# Get a list of all active assets
active_assets = api_account.list_assets(status='active', asset_class='crypto')

# What kind of data is this
print("The composite data type is:")
display(type(active_assets))

# View the first 3 assets in the list and the associated data
active_assets[0:3]

The composite data type is:

list

[{'id': 'e39a5235-eafc-499c-937e-0769c4908a80',
  'class': 'crypto',
  'exchange': 'FTXU',
  'symbol': 'SUSHIUSD',
  'name': 'Sushi',
  'status': 'active',
  'tradable': True,
  'marginable': False,
  'shortable': False,
  'easy_to_borrow': False,
  'fractionable': True},
 {'id': 'a3ba8ac0-166d-460b-b17a-1f035622dd47',
  'class': 'crypto',
  'exchange': 'FTXU',
  'symbol': 'DOGEUSD',
  'name': 'Dogecoin',
  'status': 'active',
  'tradable': True,
  'marginable': False,
  'shortable': False,
  'easy_to_borrow': False,
  'fractionable': True},
 {'id': '10d47ad4-8a8f-4dc7-8a7f-079c96c9fedb',
  'class': 'crypto',
  'exchange': 'FTXU',
  'symbol': 'GRTUSD',
  'name': 'Graph Token',
  'status': 'active',
  'tradable': True,
  'marginable': False,
  'shortable': False,
  'easy_to_borrow': False,
  'fractionable': True}]

In [20]:
# Create a list of actively available traded cryptos on Alpaca
crypto_list=[]
i=0
for crypto in active_assets:
    crypto_list.append(active_assets[i]["symbol"])
    i += 1

# View the first 10 in list
crypto_list

['SUSHIUSD',
 'DOGEUSD',
 'GRTUSD',
 'PAXGUSD',
 'TRXUSD',
 'UNIUSD',
 'WBTCUSD',
 'YFIUSD',
 'AAVEUSD',
 'BATUSD',
 'BCHUSD',
 'BTCUSD',
 'DAIUSD',
 'ETHUSD',
 'LINKUSD',
 'LTCUSD',
 'MATICUSD',
 'SHIBUSD',
 'SOLUSD',
 'USDTUSD',
 'MKRUSD']

In [10]:
# Clean the symbol using list comphrension
api_accepted_symbol = [w.replace('USD', '') for w in crypto_list]
# View the new list
api_accepted_symbol[0:10]

['SUSHI', 'DOGE', 'GRT', 'PAXG', 'TRX', 'UNI', 'WBTC', 'YFI', 'AAVE', 'BAT']

In [11]:
# View both lists to make sure they are the same lengths
display(len(active_assets))
display(len(api_accepted_symbol))

21

21

In [12]:
# Store the symbol
symbol = 'SOLUSD'

Link that may help undestand the get_barset vs get_crypto_bars [here](https://alpaca.markets/learn/crypto-api-guides/getting-started-with-alpaca-crypto-api/).

In [34]:
# Use get_crypto_bars to pull crypto historical prices
# gets hourly bar data for Solana
barset =api_trade.get_crypto_bars(symbol, TimeFrame.Day, "2009-01-03", "2022-06-09").df
 
# gets trade data for Bitcoin
# trade_data = alpaca.get_crypto_trades('BTCUSD', "2021-06-08", "2021-06-09").df
 
# gets quote data for Bitcoin
# quote_data = alpaca.get_crypto_quotes('BTCUSD',"2021-06-08", "2021-06-09").df

In [51]:
# View the data
barset.tail()

,exchange,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,,
2022-03-10 06:00:00+00:00,FTXU,82.9100,84.0000,80.0000,81.4825,94018.27,3412,82.040994
2022-03-11 06:00:00+00:00,FTXU,81.3975,84.3025,80.1700,82.0300,55952.63,2546,81.808159
2022-03-12 06:00:00+00:00,FTXU,82.1225,83.0000,80.6700,82.1525,60356.98,1702,82.177691
2022-03-13 06:00:00+00:00,FTXU,82.1700,82.3375,77.7050,80.2725,68703.70,2800,79.726393
2022-03-14 05:00:00+00:00,FTXU,80.2875,82.3225,78.6325,80.8125,51883.08,2045,80.598532

In [54]:
# Pull all rows of only the close column and send to a dataframe to convert a series
barsetc = barset.loc[:, 'close'].to_frame()

# View the data
barsetc.tail()

                             close
timestamp
2022-03-10 06:00:00+00:00  81.4825
2022-03-11 06:00:00+00:00  82.0300
2022-03-12 06:00:00+00:00  82.1525
2022-03-13 06:00:00+00:00  80.2725
2022-03-14 05:00:00+00:00  80.8125

In [55]:
View the type
type(barsetc)

pandas.core.frame.DataFrame

In [57]:
# Build a crypto function from API to get SMA 
raw = api_trade.get_crypto_bars(symbol, TimeFrame.Day, "2009-01-03", "2022-06-09").df
raw = raw.loc[:, 'close'].to_frame()
raw["returns"] = np.log(raw / raw.shift(1))
raw["SMA_S"] = raw['close'].rolling(50).mean()
raw["SMA_L"] = raw['close'].rolling(200).mean()
raw['pct_change'] = raw['close'].pct_change()
raw['log_return'] = np.log(1 + raw['pct_change'])
raw.tail()

,close,returns,SMA_S,SMA_L,pct_change,log_return
timestamp,,,,,,
2022-03-10 06:00:00+00:00,81.4825,-0.013803,96.42310,153.855212,-0.013708,-0.013803
2022-03-11 06:00:00+00:00,82.0300,0.006697,95.54970,153.872962,0.006719,0.006697
2022-03-12 06:00:00+00:00,82.1525,0.001492,95.10810,153.928975,0.001493,0.001492
2022-03-13 06:00:00+00:00,80.2725,-0.023150,94.76575,153.975763,-0.022884,-0.023150
2022-03-14 05:00:00+00:00,80.3050,0.000405,94.59955,153.969775,0.000405,0.000405

In [28]:
# Showing difference between stocks pull .get_barset
barset2 = api_trade.get_barset('SOL', 'day', limit=1000).df

In [29]:
# View the data
barset2.tail()

                            SOL
                           open  high     low   close   volume
time
2022-03-08 00:00:00-05:00  6.21  8.43  6.1544  8.1000  7337757
2022-03-09 00:00:00-05:00  7.31  7.32  6.6800  6.8398  2698073
2022-03-10 00:00:00-05:00  7.06  7.06  6.5100  6.7800  1221907
2022-03-11 00:00:00-05:00  6.86  7.04  6.2800  6.3400  2464807
2022-03-14 00:00:00-04:00  6.17  6.17  5.5300  5.5600  1408851

In [ ]:
sol = barset.xs('SOL',level=0,axis=1)

In [ ]:
sol.tail()

In [ ]:
sol2=barset.xs('close',level=1,axis=1)

In [ ]:
sol2.head()

Log return has the desired property that it is additive over time (but not additive over different assets). [Whereas gross return is most appropriate when you calculate a weighted average portfolio return (that is additive over different assets but not additive over time).](https://stackoverflow.com/a/31287674/17331884)


You can use multiIndex to give multiple columns with names for each level. Use MultiIndex.from_product() to make multiIndex from cartesian products of multiple iterables.

* This is done in the raw.xs line; [Stack Overflow explanation can be found here](https://stackoverflow.com/a/32374280/17331884).  
* Pandas documentation can be [found here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.xs.html).

In [60]:
# Build logic for the function
raw = api_trade.get_crypto_bars(symbol, TimeFrame.Day, "2009-01-03", "2022-06-09").df
raw = raw.loc[:, 'close'].to_frame()
raw["returns"] = np.log(raw / raw.shift(1))
raw["SMA_S"] = raw['close'].rolling(50).mean()
raw["SMA_L"] = raw['close'].rolling(200).mean()
raw.tail()

                             close   returns     SMA_S       SMA_L
timestamp
2022-03-10 06:00:00+00:00  81.4825 -0.013803  96.42310  153.855212
2022-03-11 06:00:00+00:00  82.0300  0.006697  95.54970  153.872962
2022-03-12 06:00:00+00:00  82.1525  0.001492  95.10810  153.928975
2022-03-13 06:00:00+00:00  80.2725 -0.023150  94.76575  153.975763
2022-03-14 05:00:00+00:00  80.1075 -0.002058  94.59560  153.968787

In [61]:
# Build the function
def get_data(symbol):
    raw = api_trade.get_crypto_bars(symbol, TimeFrame.Day, "2009-01-03", "2022-06-09").df
    raw = raw.loc[:, 'close'].to_frame()
    raw["returns"] = np.log(raw / raw.shift(1))
    raw["SMA_S"] = raw['close'].rolling(50).mean()
    raw["SMA_L"] = raw['close'].rolling(200).mean()
    return raw.head()

In [62]:
# Promve it works
get_data(symbol)

                            close   returns  SMA_S  SMA_L
timestamp
2020-09-17 05:00:00+00:00  2.6825       NaN    NaN    NaN
2020-09-18 05:00:00+00:00  3.0050  0.113528    NaN    NaN
2020-09-20 05:00:00+00:00  2.8800 -0.042487    NaN    NaN
2020-09-21 05:00:00+00:00  2.9500  0.024015    NaN    NaN
2020-09-22 05:00:00+00:00  2.8950 -0.018820    NaN    NaN

## Functions to work with the data above

In [ ]:
## NEEDS TO BE WORKED ON

def __init__(self, symbol, SMA_S, SMA_L, start, end):
        self.symbol = symbol
        self.SMA_S = SMA_S
        self.SMA_L = SMA_L
        self.start = start
        self.end = end
        self.results = None 
        self.get_data()
        
def __repr__(self):
        return "SMABacktester(symbol = {}, SMA_S = {}, SMA_L = {}, start = {}, end = {})".format(self.symbol, self.SMA_S, self.SMA_L, self.start, self.end)
        
def get_data(self):
        ''' Retrieves and prepares the data.
        '''
        raw = pd.read_csv("forex_pairs.csv", parse_dates = ["Date"], index_col = "Date")
        raw = raw[self.symbol].to_frame().dropna()
        raw = raw.loc[self.start:self.end]
        raw.rename(columns={self.symbol: "price"}, inplace=True)
        raw["returns"] = np.log(raw / raw.shift(1))
        raw["SMA_S"] = raw["price"].rolling(self.SMA_S).mean()
        raw["SMA_L"] = raw["price"].rolling(self.SMA_L).mean()
        self.data = raw
        
def set_parameters(self, SMA_S = None, SMA_L = None):
        ''' Updates SMA parameters and resp. time series.
        '''
        if SMA_S is not None:
            self.SMA_S = SMA_S
            self.data["SMA_S"] = self.data["price"].rolling(self.SMA_S).mean()
        if SMA_L is not None:
            self.SMA_L = SMA_L
            self.data["SMA_L"] = self.data["price"].rolling(self.SMA_L).mean()
            
def test_strategy(self):
        ''' Backtests the trading strategy.
        '''
        data = self.data.copy().dropna()
        data["position"] = np.where(data["SMA_S"] > data["SMA_L"], 1, -1)
        data["strategy"] = data["position"].shift(1) * data["returns"]
        data.dropna(inplace=True)
        data["creturns"] = data["returns"].cumsum().apply(np.exp)
        data["cstrategy"] = data["strategy"].cumsum().apply(np.exp)
        self.results = data
        # absolute performance of the strategy
        perf = data["cstrategy"].iloc[-1]
        # out-/underperformance of strategy
        outperf = perf - data["creturns"].iloc[-1]
        return round(perf, 6), round(outperf, 6)
    
def plot_results(self):
        ''' Plots the cumulative performance of the trading strategy
        compared to buy and hold.
        '''
        if self.results is None:
            print("No results to plot yet. Run a strategy.")
        else:
            title = "{} | SMA_S = {} | SMA_L = {}".format(self.symbol, self.SMA_S, self.SMA_L)
            self.results[["creturns", "cstrategy"]].plot(title=title, figsize=(12, 8))
        
def update_and_run(self, SMA):
        ''' Updates SMA parameters and returns the negative absolute performance (for minimization algorithm).

        Parameters
        ==========
        SMA: tuple
            SMA parameter tuple
        '''
        self.set_parameters(int(SMA[0]), int(SMA[1]))
        return -self.test_strategy()[0]
    
def optimize_parameters(self, SMA1_range, SMA2_range):
        ''' Finds global maximum given the SMA parameter ranges.

        Parameters
        ==========
        SMA1_range, SMA2_range: tuple
            tuples of the form (start, end, step size)
        '''
        opt = brute(self.update_and_run, (SMA1_range, SMA2_range), finish=None)
        return opt, -self.update_and_run(opt)

## Using the above store in an SMABacktester Class inside a .py file